<%- include('../partials/head.ejs') %>
<body>
    <div class="wrap">
    <%- include('../partials/header.ejs') %>
    <div class="index-title"><h2>Locations</h2></div>
        <div class=" typeCont flex-container">
    
                <% locations.forEach(t => { %>
                    <div><a href="/locations/<%= t.name %>" class = "index-items" style = "text-transform: uppercase;"> <%= t.name.replace(/-/g," ") %></a></div>
                <% }) %>
     
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
