<%- include('../partials/head.ejs') %>
    <body>
        <div class=wrap>
        <%- include('../partials/header.ejs') %>
        <div class="index-title"><h2>Pokemons</h2></div>
        <div class="flex-container">
            <% names.forEach(n => { %>
                <div><a href="/pokemon/<%= n.name %>" class = "index-items"> <%= n.name %></a></div>
            <% }) %>
            
        </div>
    </div>
    </body>

<%- include('../partials/footer.ejs') %>