<%- include('../partials/head.ejs') %>
<body>
    <div class="wrap">
        <%- include('../partials/header.ejs') %>
  
    <div class="container">
        <h1> Search Results for.. <%= name %> </h1>
        
        <p> Type: <% type.forEach(t => { %>
        <%= t.type.name %> 
        <% }) %>    </p>

    </div>
    </div>
<%- include('../partials/footer.ejs') %>
