<%- include('../partials/header.ejs') %>
<body>
<h1>Pokemon: <%=name%></h1>

<h3>Types</h3>
<ol>

     <% type.forEach(t => { %>
       <li><p><%= t.type.name %></p></li> 
    <% }) %>

</ol>
<h3>Evolution Chain</h3>
<p><%= chain.species.name%></p>
<h3>Generation</h3>
<p><%= generationName %></p> 
<h3>Location</h3>
<p><%= region.name %></p>
</body>
<%- include('../partials/footer.ejs') %>