<%- include('../partials/head.ejs') %>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="refresh" content="1;url=<%= url %>">
        <script type="text/javascript">
            window.location.href = "<%= url%>"
        </script>
    </head>

    <body>
        <div class="wrap">
        <%- include('../partials/header.ejs') %>

        If you are not redirected automatically, <a href="<%= url %>">click here</a>.

    </div>
    </body>
</html>

<%- include('../partials/footer.ejs') %>