<%- include('../partials/head.ejs') %>
<body>
    <div class=wrap>
    <%- include('../partials/header.ejs') %>
    <div class="index-title"><h2><%= generation %></h2></div>

  
    <div class=" genCont flex-container">
            <% for (let i = 0; i < pokemon.length; i++) { %>
                <div><a href="/pokemon/<%= pokemon[i].name %>" class = "index-items" >  <%= pokemon[i].name %> </a></div>
            <% } %>
        
    </div>
</div>
</body>

<%- include('../partials/footer.ejs') %>