<%- include('../partials/head.ejs') %>
<body>
    <div class=wrap>
    <%- include('../partials/header.ejs') %>
    <div class="index-title"><h2><%= generation %></h2></div>
    <h3>Main Region</h3>
    <div class="flex-container">
        <div><a href="/locations/<%= main_region %>" class = "index-items" ><%= main_region %></a></div>
    </div>
    <h3>Pokemon</h3>
    <div class="flex-container">
            <% for (let i = 0; i < pokemon.length; i++) { %>
                <div><a href="/pokemon/<%= pokemon[i].name %>" class = "index-items" >  <%= pokemon[i].name %> </a></div>
            <% } %>
        
    </div>
</div>
</body>

<%- include('../partials/footer.ejs') %>