<%- include('../partials/head.ejs') %>
    <body>
        <div class="wrap">
            <%- include('../partials/header.ejs') %>
            <div class="index-title"><h2>Items</h2></div>
            <div class="itemCont flex-container">
                
                <% for (let i = 0; i < 20; i ++) { %>
                    <div >
                    <a href="/items/<%=items[i].name%>" class="index-items" style = "text-transform: uppercase;" ><%= items[i].name.replace(/-/g," ") %></a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    </body>

<%- include('../partials/footer.ejs') %>