<%- include('../partials/head.ejs') %>
    <body>
        <div class="wrap">

        <%- include('../partials/header.ejs') %>
        <div>
            <h1><%= name %></h1> <img src="<%= sprites.default %>" alt="">
            <h2>Category: <%= category_name %></h2>
            <h3>Cost: $<%= cost %></h3>
        </div>
        </div>
    </body>

<%- include('../partials/footer.ejs') %>