<%- include('../partials/head.ejs') %>
    <body>
        <div class="wrap">
            <%- include('../partials/header.ejs') %>
            <h2 id="pokeName"><%= name %></h2>
            <div id="card">
            <img id="pokeSprite" src="<%= sprites.default %>" alt="Image of <%= name %>">
            <p class="pokeInfo">Category: <%= category_name %></p>
            <p class="pokeInfo">Cost: $<%= cost %></p>
            </div>
        </div>
    </body>
</html>

<%- include('../partials/footer.ejs') %>